.fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 2000ms;
  }
  .fade-enter-done{
    opacity: 1;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 2000ms;
  }
  .fade-exit-done{
    opacity: 0;
  }

  

.background{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw; 
}
.background-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.navLink{
    margin-top: 20px;
    display: flex;
    height: 100px;
    right: 0;
    position: fixed;
    justify-content: flex-end;

}
.buttonLink:has(a){
    display: flex;
    opacity: 0.6;
    font-size: 22px;
    padding: .15rem;
    background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    border-radius: 20px;
    width: 6.5em;
}
.buttonLink:has(a.active){
    
    opacity: 1;
}
.listlink{
    display: flex;
    gap:30px;
    flex-direction: row;
    list-style-type: none;
    margin-right: 20px;
    flex-wrap: nowrap;
}
a.active{
    color: red;
}
a {
    background: black;
    flex-grow: 1;
    text-align: center;
    border-radius: 20px;
}

.ButtonContainer{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

button {
    width:100px;
    height:50px;   
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  