button {}

section.roles {
 
    margin-top: 300px; /*temp  transition : left 600ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s*/

    width: 100%;
    height:auto;
    padding-bottom: 50%;

    display:flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.rolesBox {

    width:100%;
    height:100%;
    background:rgb(54, 110, 162);

    display:flex;
    align-items: center;
}

.nameContainer {
    width:50%;
    height:100%;
    position: relative;
    display: flex;
}
.textContainer {
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.textContainer div {
    position: absolute;
    opacity: 0;
    display: flex;
    flex-direction: column;
}
.textContainer span {
    font-size:1.5vw;
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
    color:rgb(255, 255, 255);
    text-align: center;
}
.background-roles {
    position: absolute;
    width: 100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.background-roles Svg {
    position: absolute;
    opacity: 0;
    fill:rgba(0, 0, 0, 0.086)
}

.trail {
    position: absolute;
    bottom: 50%;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: grey;
}

.champContainer {
    width:50%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.canvasWrapper {
    position: relative;
    width:47vw;
    height:47vw;
}
.canvasContainer {
    position: absolute;
    width: 100%;
    height:100%;
}
CanvasCircle {
    position: absolute;
}

.imgContainer {
    width: 100%;
    height:100%;

    position: relative;
}
.imgContainer img {
    width: 100%;
    height:100%;
    object-fit: contain;
    position: absolute;
    opacity: 0;
}


.listBox {
    display: flex;
    align-items: center;
    position: relative;
    width:35%;
    height:20%;
    bottom: -10%;
}

.catContainer {
    position: absolute;
    width: 100%;
    height: 10vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.movingCircle {
    position: absolute;
    width:15%;
    transform: translateY(-3%);
    fill:rgb(151, 142, 107);
    transition : fill 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s, transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s, left 300ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s, transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.selectionCircle {
    fill: rgb(195, 144, 49);
}


.catContainer button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width:10%;
    height:100%;
    opacity: 0.5;
    transition : opacity 600ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.catContainer button.selectedRole {
    opacity:1;
}
.catContainer button.selectedRole Svg {
    transform: translateY(-30%);
    padding:5px;
}

.catContainer button:hover Svg {
    padding:5px;
}

.catContainer button Svg {
    height:auto;
    transition: padding 600ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s, transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    padding: 10px;
    fill: white;
}
.catContainer button.selectedRole Svg {
    fill: rgb(195, 144, 49);
}
.catContainer button.selectedRole span {
    color: rgb(195, 144, 49);

}

.catContainer button span {
    font-size:100%;
    font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
    color:rgb(255, 255, 255);
}


