body {
    margin: 0px;
    height: 100%;
  }
.background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:url(F:\react\LolFanMade\src\Components\Route\FrontPage\asset\Background.jpg);
    background-repeat: no-repeat; 
}
.listLink{
   border: 2px solid;
   position: absolute;
   right: 0;
   top: 0;
}
.buttonLink:has(a){
    background-color: black;
    opacity: 0.6;
}
.buttonLink:has(a.active){
    background: rgb(75, 75, 75);
    opacity: 1;
}
.listLink li{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-right: 20px;
    flex-wrap: nowrap;
}