.navLink {
    height: 100px;
    width:100%;
    background-color: rgba(0, 0, 0, 0.423);
    left: 0;
    position: fixed;
    display: flex;
    justify-content: flex-start;

    padding: 20px 0 20px 100px;
    z-index: 100;
}

.listlink {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width:50%;
    list-style-type: none;
}

.buttonLink:has(a){
    display: flex;
    opacity: 0.6;
    font-size: 22px;
    padding: .15rem;
    background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    border-radius: 20px;
    width: 6.5em;
}
.buttonLink:has(a.active){
    opacity: 1;
}

a.active{
    color: rgb(69, 222, 181);
}
a {
    background: black;
    flex-grow: 1;
    text-align: center;
    border-radius: 20px;
}
