
.background{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw; 
}
.background-video{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.navLink{
    display: flex;
    height: 100px;
    
    justify-content: flex-end;

}
.buttonLink:has(a){
   display: flex;
    opacity: 0.6;
    font-size: 22px;
    padding: .15rem;
    background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    border-radius: 20px;
    width: 6.5em;
}
.buttonLink:has(a.active){
    
    opacity: 1;
}
.navLink li{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-right: 20px;
    flex-wrap: nowrap;
}
a.active{
    color: red;
    
}
a{
    background: black;
    flex-grow: 1;
    text-align: center;
    border-radius: 20px;
}

.trailerContainer{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
