.container {
    background:rgb(5, 46, 61);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.Home{
    background-color: red;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.fadeHomePage-enter {
   clip-path: circle(0);
  }
  .fadeHomePage-enter-active {
    clip-path: circle(100%);
    transition: clip-path 3s;
  }
  .fadeHomePage-enter-done{
    clip-path: circle(100%);
  }
  .fadeHomePage-exit {
    opacity: 1;
  }
  .fadeHomePage-exit-active {
    opacity: 0;
    transition: opacity 2000ms;
  }
  .fadeHomePage-exit-done{
    opacity: 0;
  }
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
}